body
    background red
    font-size 22px
    ul>li
        color #ddd
        display flex
        border-radius 10px
        transform: rotate(0)
        height: calc(100px - 10px)
        width: auto
        list-style: none
        a
            text-decoration: none
            color: #fff

@keyframes myfirst
    from {background: red;}
    to {background: yellow;}
